[init]
  defaultBranch = main

[user]
  name = Eric Unger
  email = mr.eric.unger@gmail.com

[includeIf "gitdir:~/gitlab/"]
  path = ~/gitlab/.gitconfig

[color]
  ui = auto

[alias]
  s = status
  f = fetch -p
  p = push
  pf = push --force-with-lease
  lo = log --oneline
  l = log --color --graph --pretty --oneline --abbrev-commit --all
  c = commit
  ca = commit --amend
  can = commit --amend --no-edit
  cana = commit --amend --no-edit -a
  co = checkout 
  cob = checkout -b
  undo = reset --soft HEAD~1
  b = branch
  bd = branch -d 
  bD = branch -D

[core]
  editor=nvim
  pager = cat
  whitespace = -trailing-space

[merge]
  ff = only

[include]
  path = ~/.gitconfig-proxy
